/* ---------------------------------------------------------
 6. About Page Content
-------------------------------------------------------- */
.about #mainContent {
	a#htuhLink {
		color: #fff;
	}

	.banner {
		margin-top: 5%;
	}
	
	@media screen and (max-width: 1200px) {
		.banner {
			margin-top: 14%;
		}

		.template-container {
			top: 15%;
		}
	}

	@media screen and (max-width: 992px) {
		.banner {
			margin-top: 20%;
		}

		.template-container {
			top: 10%;
		}
	}

	@media screen and (max-width: 880px) {
		.banner {
			margin-top: 30%;
		}
	}

	.row img {
		@extend %img;
	}
}