<div class=\"row big-img\">
	<div class=\"col-xs-5 col-sm-3 img\">
		<div class=\"anim-box\">
			<img class=\"anim\" src=\"img/bg-contact.jpg\" alt=\"contact page image\">
		</div>
		<div class=\"anim-box-1\">
			<img class=\"anim\" src=\"img/bg-contact-night.jpg\" alt=\"contact page image\">
		</div>
	</div>
</div>
<div class=\"row flr-plan\">
	<div class=\"badge-title col-xs-6 col-md-4\">
		<h5>Completion of 4th Slab - September 2016</h5>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-sept-01.jpg\" alt=\"Completion of 4th Slab September 2016\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-sept-02.jpg\" alt=\"Completion of 4th Slab September 2016\">
		</div>
	</div>
</div>
<div class=\"row flr-plan\">
	<div class=\"badge-title col-xs-6 col-md-4\">
		<h5>Completion of 1st Slab - July 2016</h5>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-july-01.jpg\" alt=\"Completion of 1st Slab July 2016\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-july-02.jpg\" alt=\"Completion of 1st Slab July 2016\">
		</div>
	</div>
</div>
<div class=\"row flr-plan\">
	<div class=\"badge-title col-xs-6 col-md-4\">
		<h5>Completion of Plinth Level - May 2016</h5>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-may-01.jpg\" alt=\"01 Completion of Plinth Level - May 2016\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-may-01.jpg\" alt=\"01 Completion of Plinth Level - May 2016\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-may-02.jpg\" alt=\"02 Completion of Plinth Level - May 2016\">
		</div>
	</div>
</div>
<div class=\"row flr-plan\">
	<div class=\"badge-title col-xs-6 col-md-4\">
		<h5>Foundation Work - March 2016</h5>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-march-01.jpg\" alt=\"Foundation Work March 2016\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-march-02.jpg\" alt=\"Foundation Work March 2016\">
		</div>
	</div>
</div>
<div class=\"row flr-plan\">
	<div class=\"badge-title col-xs-6 col-md-4\">
		<h5>Commencement Of Work - Feb 2016</h5>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-feb-01.jpg\" alt=\"Floor-Plans-01\">
		</div>
	</div>
	<div class=\"col-xs-8 col-sm-6 img\">
		<div class=\"img-container\">
			<img data-toggle=\"modal\" data-target=\"#myModal\" src=\"../img/project-status/project-status-feb-02.jpg\" alt=\"Floor-Plans-02\">
		</div>
	</div>
</div>