<div class="project-content">
	
	<div class="row">
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 project-logo">
			<img src="../img/projects/blue-crest/logo-blue-crest.png" alt="Blue Crest Project Logo">
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xs-offset-1 project-address">
			<p class="info">Plot No.: 71<br>Sector-35-E, Kharghar<br>Navi Mumbai</p>
		</div>
	</div>

	<div class="content col-xs-12">
		<p>Offered project is pure Residential Tower consists of well-planned 2BHK flats with terraces on each floor. All the material and fittings used in construction of the project are branded and very high quality such as Window system of Fenesta, Lifts of Schindler/Kone, Tiles of RAK Ceramics, Plumbing fittings of Jaguar, S S Railing etc.</p>
	</div>

	<div class="row">
		
		<div class="col-sm-3">
			<img class="large-photo" src="../img/projects/blue-crest/large-photo.jpg" alt="Large Project Image">
		</div>

		<div class="col-sm-3 list-container">
			<h4>Project Architecture</h4>
			<ul class="list">
				<li>CIDCO Transfer plot.</li>
				<li>Stilt + 13 storey exclusively residential tower</li>
				<li>Each floor houses two 2BHK + Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>
		</div>
		
		<div class="col-sm-3 list-container">
			<h4>Project Features</h4>
			<ul class="list">
				<li>Corner plot.</li>
				<li>Five Star Finishes.</li>
				<li>"Fenesta" Window System.</li>
				<li>"OTIS" Brand two automatic lifts.</li>
				<li>"RAK" Brand floor tiles.</li>
				<li>"JAQUAR" Brand fittings in Toilet &amp; Kitchen.</li>
				<li>Power back up for common facilities.</li>
				<li>Decorative entrance lobby, Security check and Intercom facility.</li>
			</ul>
		</div>

		<div class="col-sm-3 list-container">
			<h4>Key Location</h4>
			<ul class="list">
				<li>Kharghar Railway Station - 2.5km</li>
				<li>2 Minutes walking distance from proposed Metro Project</li>
				<li>Mumbai-Pune Expressy - 2km</li>
				<li>Proposed International Airport - 10km</li>
				<li>International Schools &amp; Colleges in proximity</li>
				<li>223 Acres of central Park - 1km</li>
				<li>18 Hole Golf Course - 1km</li>
				<li>ISKCON Temple - 1km</li>
				<li>NMSEZ / JNPT</li>
				<li>Tourist Attraction: Pandavpada Waterfalls</li>
			</ul>
		</div>

	</div>

</div>