<div id="floorPlanContainer" class="container-fluid">
	<div class="container">
		
		<div class="row">
			<div class="col-xs-4">
				<h2>FLOOR PLANS</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/01-TBC-Ground-Floor-Plan.jpg" alt="Ground Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>Ground Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/02-TBC-1-Floor-Plan.jpg" alt="1st Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>1st Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/03-TBC-2-Floor-Plan.jpg" alt="2nd Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>2nd Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/04-TBC-3-5-7-9-Floor-Plan.jpg" alt="3rd, 5th, 7th and 9th Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>3rd, 5th, 7th and 9th Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/05-TBC-4-6-8-Floor-Plan.jpg" alt="4th, 6th and 8th Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>4th, 6th and 8th Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/06-TBC-10-Floor-Plan.jpg" alt="10th Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>10th Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/07-TBC-11-Floor-Plan.jpg" alt="11th Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>11th Floor Plan</p>
				</div>
			</div>
			<div class="col-sm-6">
				<img class="img-responsive img-thumbnail" src="../img/projects/blue-crest/floor-plans/08-TBC-12-13-Floor-Plan.jpg" alt="12th and 13th Floor Plan" data-toggle="modal" data-target="#flrPlanModal">
				<div class="caption">
					<p>12th and 13th Floor Plan</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="flrPlanModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
  
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times; Close</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>

      <div class="modal-body">
        <img src="" alt="" class="img-responsive">
      </div>

    </div>

  </div>

</div>
<!-- /modal -->