<div class="project-content">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-lg-2 project-logo">
			<img src="../img/projects/gold-crest/logo-gold-crest.png" alt="Gold Crust Project Logo">
		</div>
		
		<div class="col-xs-5 col-sm-5 col-lg-2 project-address">
			<p class="info">Plot No.: 5<br>Phase II, Navade<br>Navi Mumbai</p>
		</div>
	</div>

	<div class="content col-xs-12">
		<p>Offered project is pure Residential Tower consists of well-planned 2BHK flats with terraces on each floor. All the material and fittings used in construction of the project are branded and very high quality such as Window system of Fenesta, Lifts of Schindler/Kone, Tiles of RAK Ceramics, Plumbing fittings of Jaguar, S S Railing etc.</p>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="http://www.thegoldcrest.in/" target="_blank" class="project-link">www.thegoldcrest.in</a>
		</div>
	</div>

	<div class="row">
		
		<div class="col-sm-4">
			<img class="large-photo" src="../img/projects/gold-crest/large-photo.jpg" alt="Large Project Image">
		</div>
		
		<div class="col-sm-4 list-container">
			<h4>Project Architecture</h4>

			<ul class="list">
				<li>CIDCO transfer plot</li>
				<li>Stilt + 16 storey exclusively residential tower</li>
				<li>Each floor houses two 2BHK + Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>
			
		</div>
		
		<div class="col-sm-4 list-container">
			<h4>Key Location</h4>
			
			<ul class="list">
				<li>Located just off the Old Mumbai - Pune Road (NH14) near Kalamboli</li>
				<li>Opposite Navade Railway Station</li>
				<li>Proximity to superior educational institutions and high quality medical facilities</li>
				<li>15 mins. drive to proposed Navi Mumbai International Airport site</li>
				<li>Proximity to Asia's largest central park and golf course</li>
			</ul>

		</div>

	</div>
	

</div>