<div class="project-content">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 project-logo">
			<img src="../img/projects/luxus-tower/logo-luxus-tower.png" alt="Luxus Tower Project Logo">
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 project-address">
			<p class="info">Sector 18,<br>Plot No. 9, Kharghar<br>Navi Mumbai</p>
		</div>
	</div>

	<div class="content row">
		<div class="col-xs-6 col-sm-3 col-md-2">
			<img src="../img/projects/luxus-tower/icon-chair.png" alt="Chair image">
		</div>
		<div class="col-xs-6 col-sm-9 col-md-10">
			<p>In Navi Mumbai specifically Kharghar offers one of the best living conditions such as - wide roads, parks, playgrounds, malls, multiplexes, educational intitutes, hospitals, star hotels.Kharghar has everything to support a flembeyound life style.</p>
			<p>Luxus Tower consist of 2 BHK plus Terrace apartments in tower with Stilt + Podium +14 Residential floors. In keeping with modern town planning standards for a better quality of life, Kharghar has large spaces for gardens, parks, sports infrastructures, educational institutions and healthcare facilities.</p>
		</div>
		
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="http://www.luxustower.com/" target="_blank" class="project-link">www.luxustower.com</a>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-4">
			<img class="large-photo" src="../img/projects/luxus-tower/large-photo.jpg" alt="Large Project Image">
		</div>
		
		<div class="col-sm-4">
			<h4>Project Architecture</h4>
			<ul class="list">
				<li>CIDCO transfer plot</li>
				<li>Stilt + Podium + 14 storey exclusively residential tower</li>
				<li>Each floor houses two 2BHK + Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>
		</div>

		<div class="col-sm-4">
			<h4>Key Location</h4>
			<ul class="list">
				<li>D Mart - 5 mins walk</li>
				<li>Proposed International Airport - 15 mins drive</li>
				<li>Kharghar Railway station- 7 mins drive</li>
				<li>Iskon temple - 7 mins walk</li>
				<li>Central park and Golf course - 7 mins walk</li>
				<li>Proposed Metro Railway Station- 5 mins walk</li>
			</ul>
		</div>

	</div>
	

</div>