<div class="project-content">
	
	<div class="row">	
		<div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 project-logo">
			<img src="../img/projects/springdale/logo-springdale.png" alt="springdale Project Logo">
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 project-address">
			<p class="info">Plot No.: 12<br>Sector-16E, Roadpali<br>Navi Mumbai</p>
		</div>
	</div>

	<div class="content col-xs-12">
		<p class="highlighted">Springdale is a housing project designed for people who appreciate fine living. Everything at Springdale, from the stand-out design to the quality of construction, is intended to make you happier in the most important place in your life - your home</p>

		<p>Springdale is located in Roadpali, the most exciting new hub in Navi Mumbai. Roadpali falls between Kalamboli and the upcoming Navi Mumbai International Airport. It is an urban neighbourhood planned along the south bank of the Kasadi River. You will fall in love with the huge expanse of green in the area!</p>

		<p>Residential property consist of 2.5 BHK plus Terrace apartments in tower with Stilt + Podium +18 Residential floors. In keeping with modern town planning standards for a better quality of life, Roadpali has large spaces for gardens, parks, sports infrastructures, educational institutions and healthcare facilities.</p>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="http://www.myspringdale.in/" target="_blank" class="project-link">www.myspringdale.in</a>
		</div>
	</div>

	<div class="row">
		
		<div class="col-sm-4">
			<img class="large-photo" src="../img/projects/springdale/large-photo.jpg" alt="Large Project Image">
		</div>
		
		<div class="col-sm-4 list-container">
			<h4>Project Architecture</h4>
			
			<ul class="list">
				<li>CIDCO transfer plot</li>
				<li>Stilt + 19 storey exclusively residential tower</li>
				<li>Project Arch. - Each floor houses 2.5 BHK plus Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>

		</div>

		<div class="col-sm-4 list-container">
			<h4>Key Location</h4>
			
			<ul class="list">
				<li>Two harbour line Railway stations - Kharghar and Manasarovar, within 5 minutes of site</li>
				<li>Navi Mumbai International Airport within 10 minutes of site</li>
				<li>Integrated Sports Academy coming up near the sites</li>
				<li>Highly Secured Area - Headquarters of Navi Mumbai Police Force within 500 metres of the site</li>
				<li>Adjacent to Sion-Panvel Express Way</li>
			</ul>

		</div>

	</div>

</div>