<div class="project-content">
	
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 project-logo">
			<img src="../img/projects/springfields/logo-springfields.png" alt="Springfields Project Logo">
		</div>
		
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xs-offset-1 project-address">
			<p class="info">Plot No.: 60<br>Sector-17, Roadpali<br>Kalamboli, Navi Mumbai</p>
		</div>
	</div>

	<div class="content col-xs-12">
		<p>Offered project is pure Residential Tower consists of well-planned 2BHK flats with terraces on each floor. All the material and fittings used in construction of the project are branded and very high quality such as Window system of Fenesta, Lifts of Schindler/Kone, Tiles of RAK Ceramics, Plumbing fittings of Jaguar, S S Railing etc.</p>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="http://www.myspringfields.in/" target="_blank" class="project-link">www.myspringfields.in</a>
		</div>
	</div>

	<div class="row">
		
		<div class="col-sm-4">
			<img class="large-photo" src="../img/projects/springfields/large-photo.jpg" alt="Large Project Image">
		</div>
		
		<div class="col-sm-4 list-container">
			<h4>Project Architecture</h4>
			
			<ul class="list">
				<li>CIDCO transfer plot</li>
				<li>Stilt + 17 storey exclusively residential tower</li>
				<li>Each floor houses two 2BHK + Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>
			
		</div>
		
		<div class="col-sm-4 list-container">
			<h4>Key Location</h4>
			
			<ul class="list">
				<li>Two harbour line Railway stations - Kharghar and Manasarovar, within 5 minutes of site</li>
				<li>Navi Mumbai International Airport within 10 minutes of site</li>
				<li>Integrated Sports Academy coming up near the sites</li>
				<li>Highly Secured Area - Headquarters of Navi Mumbai Police Force within 500 metres of the site</li>
				<li>Adjacent to Sion-Panvel Express Way</li>
			</ul>

		</div>

	</div>
	

</div>